<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="bcClientId" value="00000000-0000-0000-0000-000000000000" />
		<add key="bcClientSecret" value="sdfSDFSDjksdafdsiuewjsdjT" />
		<add key="bcTenantId" value="00000000-0000-0000-0000-000000000000" />
		<add key="bcCompanyId" value="00000000-0000-0000-0000-000000000000" />
		<add key="stripeSecretKey" value="sk_test_fromStripe" />
		<add key="customerNoToSkip" value="C120950,C119100" />
	</appSettings>
</configuration>
